{ 
  "extends": "airbnb/base",
  "rules": {
    "no-underscore-dangle" : "off",
		"no-plusplus": "off",
		"no-unused-vars" : 1,
		"no-tabs" : 1,
		"no-mixed-spaces-and-tabs" : 1,
		"consistent-return" : 1
  }
}